@model List<SpinningWebApp.Models.CategoryProductsViewModel>

<!doctype html>
<html lang="en">

@{
    Layout = "Layouts/_AdminPartial";
    int count = 1;
}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="/adm_panel_assets/images/logos/favicon.png" />
    <link rel="stylesheet" href="/adm_panel_assets/css/styles.min.css" />
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css" />
</head>
<body>
    <div class="container-fluid">
        @if (Model != null && Model.Any())
        {
            foreach (var item in Model)
            {
                <div class="row">
                    <div class="col-lg-8 d-flex align-items-stretch">
                        <div class="card w-100">
                            <div class="card-body p-2">
                                <h5 class="card-title fw-semibold mb-4">@item.CategoryName</h5>
                                <div class="table-responsive">
                                    <table class="table text-nowrap mb-0 align-middle">
                                        <thead class="text-dark fs-4">
                                            <tr>
                                                <th class="border-bottom-0">
                                                    <h6 class="fw-semibold mb-0">№</h6>
                                                </th>
                                                <th class="border-bottom-0">
                                                    <h6 class="fw-semibold mb-0">Производител</h6>
                                                </th>
                                                <th class="border-bottom-0">
                                                    <h6 class="fw-semibold mb-0">Модел</h6>
                                                </th>
                                                <th class="border-bottom-0">
                                                    <h6 class="fw-semibold mb-0">Цена</h6>
                                                </th>
                                                <th class="border-bottom-0">
                                                    <h6 class="fw-semibold mb-0">Налични</h6>
                                                </th>
                                                <th colspan="2">
                                                    <h6 class="fw-semibold mb-0">Действия</h6>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (item.Products != null && item.Products.Any())
                                            {
                                                foreach (var product in item.Products)
                                                {
                                                    <tr>
                                                        <td class="border-bottom-0"><h6 class="fw-semibold mb-0">@(count++)</h6></td>
                                                        <td class="border-bottom-0">
                                                            <h6 class="fw-semibold mb-1">@product.ManufacturerName</h6>
                                                        </td>
                                                        <td class="border-bottom-0">
                                                            <h6 class="fw-semibold mb-1">@product.Model</h6>
                                                        </td>
                                                        <td class="border-bottom-0">
                                                            <h6 class="fw-semibold mb-1">@product.Price лв.</h6>
                                                        </td>
                                                        <td class="border-bottom-0">
                                                            <h6 class="fw-semibold mb-1">@product.AvailableAmount</h6>
                                                        </td>
                                                        <td>
                                                            <a asp-controller="Admin" asp-action="RedactProduct" asp-route-productId="@product.Id"><i class="fa fa-pencil-square-o" style="font-size: 24px;"></i></a>
                                                        </td>
                                                        <td>
                                                            <a asp-controller="Admin" asp-action="AddImage" asp-route-productId="@product.Id"><i class="fa fa-picture-o" style="font-size: 24px; color:lightgreen"></i></a>
                                                        </td>
                                                        <td>
                                                            <a asp-controller="Admin" asp-action="DeleteProduct" asp-route-productId="@product.Id"><i class="fa fa-trash-o" style="font-size: 24px; color:red"></i></a>
                                                        </td>
                                                    </tr>
                                                }
                                                <tr>
                                                    <td colspan="7">
                                                        <a asp-controller="Admin" asp-action="AddProduct" asp-route-categoryName="@item.CategoryName" class="btn btn-secondary">Добави продукт</a>
                                                    </td>
                                                </tr>

                                                count = 1;
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td class="border-bottom-0" colspan="5">
                                                        <p class="mb-0 fw-normal">Продукти от тази категория не са в наличност.</p>
                                                    </td>
                                                    <td colspan="7">
                                                        <a asp-controller="Admin" asp-action="AddProduct" asp-route-categoryName="@item.CategoryName" class="btn btn-secondary">Добави продукт</a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
    <script src="/adm_panel_assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="/adm_panel_assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/adm_panel_assets/js/sidebarmenu.js"></script>
    <script src="/adm_panel_assets/js/app.min.js"></script>
    <script src="/adm_panel_assets/libs/apexcharts/dist/apexcharts.min.js"></script>
    <script src="/adm_panel_assets/libs/simplebar/dist/simplebar.js"></script>
    <script src="/adm_panel_assets/js/dashboard.js"></script>
</body>

</html>