@model SpinningWebApp.Models.CrudProductViewModel

@{
    string count = "";
}

<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from psdtowpwork.com/html/fisto/single-product.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 14 Feb 2024 08:57:40 GMT -->
<head>
    <title>DLF - The best online fishing shop</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">

    <!-- Start Include All CSS -->
    <link rel="stylesheet" href="/assets/css/bootstrap.css" />
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/assets/css/elegant-icons.css" />
    <link rel="stylesheet" href="/assets/css/fishto-icons.css" />
    <link rel="stylesheet" href="/assets/css/animate.css" />
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/assets/css/slick.css">
    <link rel="stylesheet" href="/assets/css/lightcase.css">
    <link rel="stylesheet" href="/assets/css/theme.css" />
    <link rel="stylesheet" href="/assets/css/responsive.css" />
    <!-- End Include All CSS -->
    <!-- Favicon Icon -->
    <link rel="icon" type="image/png" href="/assets/images/favicon.png">
    <!-- Favicon Icon -->
</head>
<body>

    <!-- Preloader Start -->
    <div class="preloader">
        <div class='circle'>
            <div class="circle-cutter"></div>
            <div class="circle-inner"></div>
        </div>
    </div>
    <!-- Preloader Start -->
    <!-- Hero Banner Start -->
    <section class="page_banner" style="background-image: url(https://fishingzone.bg/resources/221111190312314965307_1848864435450375_2996466357337192395_n.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="pb_title">@Model.ManufacturerName @Model.Model</h3>
                    <div class="page_crumb">
                        <a asp-controller="Home" asp-action="Index">Начало</a> | <a asp-controller="Shop" asp-action="Index">Продукти</a> | <a asp-controller="Shop" asp-action="Index" asp-route-categoryName="@Model.CategoryName">@Model.CategoryName</a> | <span>@Model.ManufacturerName @Model.Model</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner End -->
    <!-- Single Shop Start -->
    <section class="singleproduct-setion">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <!-- Product Slider -->
                    <div class="productSlide">
                        <div class="sp_img">
                            <img src="@Model.MainImageURL" width="570" style="margin-left:auto; margin-right:auto" alt="product">
                        </div>
                        @if (ViewBag.Images != null)
                        {
                            foreach (var item in ViewBag.Images)
                            {
                                <div class="sp_img">
                                    <img src="@item.ImageURL" width="570" style="margin-left:auto; margin-right:auto" alt="product">
                                </div>
                            }
                        }
                    </div>
                    <ul class="indicator-slider">
                        <li role="presentation"><img src="@Model.MainImageURL" width="170" alt="product"></li>
                        @if (ViewBag.Images != null)
                        {
                            foreach (var item in ViewBag.Images)
                            {
                                <li role="presentation"><img src="@item.ImageURL" width="170" alt="product"></li>
                            }
                        }
                    </ul>
                    <!-- Product Slider -->
                </div>
                <div class="col-lg-6 col-md-6">
                    <!-- Product Detalis -->
                    <div class="product-decp">
                        <h4>@Model.ManufacturerName @Model.Model</h4>
                        <div class="product_price clearfix"><span class="price"><span>@Model.Price лв.</span></span></div>
                        <div class="ratings">
                            @*                             <i class="icon_star_alt"></i><i class="icon_star_alt"></i><i class="icon_star_alt"></i><i class="icon_star_alt"></i><i class="icon_star_alt"></i><span>( 1 )</span>
                            *@
                        </div>
                        <div class="excerpt">
                            <p>
                            </p>
                        </div>
                        <div class="quantityd clearfix">
                            <button class="qtyBtn btnMinus"><span>-</span></button>
                            <input name="qty" value="1" title="Qty" class="input-text qty text carqty" type="text" asp-for="@count">
                            <button class="qtyBtn btnPlus">+</button>
                        </div>
                        <div class="listing-meta">
                            <a asp-controller="Shop" asp-action="Cart" asp-route-productId="@Model.Id" class="add-to-cart"><i class="nss-shopping-cart1"></i>Add To Cart</a>
                            <a href="wishlist.html" class="whishlist"><i class="nss-heart1"></i></a>
                        </div>
                        <div class="metatext"><span>Категория:</span> <a asp-controller="Shop" asp-action="Index" asp-route-categoryName="@Model.CategoryName">@Model.CategoryName</a></div>
                    </div>
                    <!-- Product Detalis -->
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <!-- Tab Title -->
                    <ul class="productTabs nav nav-tabs">
                        <li><a class="active" href="#description" data-toggle="tab">description</a></li>
                        <li><a href="#additional" data-toggle="tab">Additional Information</a></li>
                    </ul>
                    <!-- Tab Title -->
                    <!-- Tab Content -->
                    <div class="tab-content">
                        <!-- Description Tab -->
                        <div class="tab-pane fade in active show" id="description" role="tabpanel">
                            <div class="tab-description">
                                <p>
                                    @Model.Description
                                </p>
                            </div>
                        </div>
                        <!-- Description Tab -->
                        <!-- Additional Tab -->
                        @if (Model.CategoryName != "Аксесоари")
                        {
                            <div class="tab-pane fade in" id="additional" role="tabpanel">
                                <div class="tab-info">
                                    <table>
                                        <tbody>
                                            @if (Model.SpecificationViewModels.Count > 0)
                                            {
                                                foreach (var item in Model.SpecificationViewModels)
                                                {
                                                    <tr class="col-1">
                                                        <th style="width: 20%">@item.SpecificationName</th>
                                                        <td><p>@item.SpecificationValue</p></td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        }
                        <!-- Additional Tab -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Single Shop End -->
    <!-- Related Start -->
    <section class="related-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="sec_titles">Още продукти</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="related-slider owl-carousel">
                        @if (ViewBag.Suggested.Count > 0)
                        {
                            foreach (var item in ViewBag.Suggested)
                            {
                                <div class="product-item-2 text-center">
                                    <div class="product-thumb">
                                        <img src="@item.MainImageURL" alt="product">
                                    </div>
                                    <div class="product-details">
                                        <h5><a asp-controller="Shop" asp-action="SingleProduct" asp-route-productId="@item.Id">@item.ManufacturerName @item.Model</a></h5>
                                        <div class="ratings">
                                        </div>
                                        <div class="product_price clearfix"><span class="price"><span>@item.Price лв.</span></span></div>
                                        <div class="product-meta">
                                            <a asp-controller="Shop" asp-action="SingleProduct" asp-route-productId="@item.Id" class="view"><i class="nss-eye1"></i></a>
                                            <a href="wishlist.html" class="whishlist"><i class="nss-heart1"></i></a>
                                            <a href="cart.html" class="cart"><i class="nss-shopping-cart1"></i></a>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Related End -->
    <!-- Back To Top -->
    <a href="#" id="back-to-top">
        <i class="arrow_carrot-2up"></i>
    </a>
    <!-- Back To Top -->
    <!-- Start Include All JS -->
    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery.appear.js"></script>
    <script src="/assets/js/owl.carousel.min.js"></script>
    <script src="/assets/js/slick.js"></script>
    <script src="/assets/js/lightcase.js"></script>
    <script src="/assets/js/jquery-ui.js"></script>

    <script src="/assets/js/theme.js"></script>
    <!-- End Include All JS -->

</body>

<!-- Mirrored from psdtowpwork.com/html/fisto/single-product.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 14 Feb 2024 08:57:42 GMT -->
</html>